# git keep files
!.gitkeep

# sublime text files
*.sublime-*
*.*~*.TMP

# temp files
.DS_Store
Thumbs.db
Desktop.ini

# vim swap files
*.sw*

# emacs temp files
*~
\#*#

# node.js common ignores
node_modules/
npm-debug.log

# ts build
__build__